nav{
  background-color: #46a683;
  border-radius: 15px;
}
footer{
  margin-top: 3em;
  border-radius: 15px;
  background-color: black;
}
.texto-footer{
  color: white;
}
.container{
  margin-top: 3em;
  background-color: #46a683;
  border-radius: 15px;
}
.fa-solid{
  font-size: 4.5em;
}
.me-5{
  margin: 0px auto;
}
i{
  cursor: pointer;
}
img{
  cursor: pointer;
}
