<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light">
      <img src="./assets/logo.png" alt="logo" width="80" height="80" routerLink="/menu"/>
      <div class="pl-4">
        <h2 class="text-center">Actualizar Escritorios</h2>
      </div>
    </nav>

    <div class="container text-center pt-5">
      <div class="row align-items-start text-left">
        <div class="col pb-5">
          <div *ngFor="let data of listEscritorios" class="estilong">
            <h1>Serie:</h1>
            <h3>{{data.serie}}</h3>
            <h1>Altura:</h1>
            <h3>{{data.altura}}</h3>
            <h1>Anchura:</h1>
            <h3>{{data.anchura}}</h3>
            <h1>Color:</h1>
            <h3>{{data.color}}</h3>
            <div class="text-left">
              <button type="reset" class="btn btn-success" [routerLink]="['/escritorios/agregar', data._id]">Modificar</button>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col text-right">
              <button type="reset" class="btn btn-danger" routerLink="/escritorios" >
                Salir
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="page-footer font-small">
      <div class="footer-copyright text-center py-3">
        <div class="texto-footer">
          <h6>© Copyright 2022 TecNM Campus Cuautla</h6>
          <h6>Todos los Derechos Reservados</h6>
          <h6>Departamento de Sistemas Computacionales</h6>
        </div>
      </div>
    </footer>
  </body>
</html>
