nav{
  background-color: #46a683;
  border-radius: 15px;
}
.page-footer{
  background-color: black;
}
.row{
  background-color: #46a683;
}
div{
  border-radius: 15px;
  margin-top: 2em;
}
.fa-solid{
  text-align: center;
  font-size: 4em;
}
a{
  color: black;
}
footer{
  border-radius: 15px;
  background-color: black;
}
.texto-footer{
  color: white;
}
