<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light">
      <img
        src="./assets/logo.png"
        alt="logo"
        width="80"
        height="80"
        routerLink="/menu"
      />
      <div class="pl-4">
        <h2 class="text-center">{{titulo}}</h2>
      </div>
    </nav>

    <div class="container text-center pt-5">
      <div class="row align-items-start text-left">
        <div class="col pb-5">
          <form [formGroup]="proyectorForm" (ngSubmit)="agregarProyector()">
            <h3>Serie:</h3>
            <input
              type="text"
              class="form-control"
              formControlName="serie"
              placeholder="JDHD8J283"
            />
            <h3>Marca:</h3>
            <input
              type="text"
              class="form-control"
              formControlName="marca"
              placeholder="Epson, ViewSonic, Lankey"
            />
            <h3>Modelo:</h3>
            <input
              type="text"
              class="form-control"
              formControlName="modelo"
              placeholder="X510, Y6532"
            />
            <h3>Color:</h3>
            <input
              type="text"
              class="form-control"
              formControlName="color"
              placeholder="Blanco, Negro, etc..."
            />
            <div class="row mt-2">
              <div class="col text-left">
                <button type="submit" class="btn btn-success">Guardar</button>
              </div>
            </div>
          </form>
          <div class="row mt-2">
            <div class="col text-right">
              <button
                type="reset"
                class="btn btn-danger"
                routerLink="/proyectores"
              >
                Cancelar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="page-footer font-small">
      <div class="footer-copyright text-center py-3">
        <div class="texto-footer">
          <h6>© Copyright 2022 TecNM Campus Cuautla</h6>
          <h6>Todos los Derechos Reservados</h6>
          <h6>Departamento de Sistemas Computacionales</h6>
        </div>
      </div>
    </footer>
  </body>
</html>
