<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light">
      <img src="./assets/logo.png" alt="logo" width="80" height="80" routerLink="/menu"/>
      <div class="pl-4">
        <h2 class="text-center">Actualizar Equipo de computo</h2>
      </div>
    </nav>

    <div class="container text-center pt-5">
      <div class="row align-items-start text-left">
        <div class="col pb-5">
          <div *ngFor="let data of listEquipos" class="estilong">
            <h3>Serie:</h3>
            <h4>{{data.serie}}</h4>
            <h3>Marca:</h3>
            <h4>{{data.marca}}</h4>
            <h3>Procesador:</h3>
            <h3>{{data.procesador}}</h3>
            <h3>RAM:</h3>
            <h4>{{data.ram}}</h4>
            <h3>Almacenamiento:</h3>
            <h4>{{data.almacenamiento}}</h4>
            <button class="btn-success" [routerLink]="['/equipo/agregar', data._id]">Actualizar</button>
          </div>
          <button class="btn-danger mt-3" routerLink="/equipo">Salir</button>
        </div>
      </div>
    </div>

    <footer class="page-footer font-small">
      <div class="footer-copyright text-center py-3">
        <div class="texto-footer">
          <h6>© Copyright 2022 TecNM Campus Cuautla</h6>
          <h6>Todos los Derechos Reservados</h6>
          <h6>Departamento de Sistemas Computacionales</h6>
        </div>
      </div>
    </footer>
  </body>
</html>
